{
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"],
    "semi": ["error", "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": [1, { "ignorePureComponents": true }]
  }
}
